@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
    --color-background: #F3F5FC;
    --color-dark-blue-300: #0A3871;
    --color-gray: gray;
}

*{
    font-family: "Inter", sans-serif;
    background-color: var(--color-background);
    margin: 0;
}

.logo-alura {
    padding: 30px;
}

main {
    display: flex;
    margin-bottom: 80px;
    justify-content: center;
}

.box {
    display: flex;
    flex-direction: row;
    gap: 100px;
    padding: 30px;
}

.text-area {
    width: 680px;
    height: 550px;
    border: none;
    margin: 0px;
    font-size: 32px;
}

textarea:focus {
    border: none;
    outline: none;
    background-color: none;
}

textarea, textarea::placeholder {
    font-size: 32px;
    color: var(--color-dark-blue-300);
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
}

.information {
    font-size: 8px;
    line-height: 18px;
    letter-spacing: 0em;
    margin-bottom: 5px;
    color: var(--color-dark-blue-300);
}

.buttons {
    display: flex;
    gap: 24px;
    text-align: center;
}

.button-criptografar{
    width: 200px;
    height: 64px;
    border: 2px solid;
    border-radius: 24px;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    text-decoration: none;
    padding: 22px 0;
    background-color: var(--color-dark-blue-300);
    color: var(--color-background);
    cursor: pointer;
}

.button-descriptografar{
    width: 200px;
    height: 64px;
    border: 2px solid;
    border-radius: 24px;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    text-decoration: none;
    padding: 22px 0;
    background-color: var(--color-dark-blue-300);
    color: var(--color-background);
    cursor: pointer;
}

.button-copiar {    
    width: 200px;
    height: 64px;
    border: 2px solid;
    border-radius: 24px;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    text-decoration: none;
    margin-top: 5px;
    padding: 22px 0;
    background-color: var(--color-dark-blue-300);
    color: var(--color-background);
    cursor: pointer;
}

.text-area-secondary {
    width: 100%;
    height: 171px;
    border: none;
    margin: 0px;
    font-size: 32px;
}

textarea:focus {
    border: none;
    outline: none;
    background-color: none;
}

.text-area-secondary, .text-area-secondary::placeholder {
    font-size: 32px;
    color: var(--color-dark-blue-300);
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
}

.box__secondary {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#imagemBusca {
    width: 60%;
}

.msgNotFound {
    font-size: 24px;
    padding: 5px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-dark-blue-300);
}

.msgTypeText {
    font-size: 16px;
    padding: 5px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-dark-blue-300);
}


@media all and (min-width: 850px) and (max-width: 1024px) {
    .box {
        gap: 25px;
    }

    .text-area {
        width: 580px;
        height: 450px;
    }
}

@media all and (min-width: 720px) and (max-width: 768px) {
    .box {
        display: flex;
        flex-direction: column;
    }

    #imagemBusca {
        display: none;
    }

    .text-area-secondary {
        height: 80px;
    }

    .button-criptografar, .button-descriptografar {
        width: 300px;
    }

    .button-copiar {
        width: 400px;
    }
}

@media all and (min-width: 200px) and (max-width: 425px) {
    
    header {
        display: flex;
        justify-content: center;
    }
    
    .box {
        display: flex;
        flex-direction: column;
        width: 300px;
    }

    .text-area {
        height: 400px;
    }

    .text-area-secondary {
        height: 200px;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .button-criptografar, .button-descriptografar {
        width: 100%;
    }

    .button-copiar {
        width: 80%;
    }

}